* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Додавання вирівнювання елементів заголовка по вертикалі */
    padding: 1rem;
    background-color: #748DA6;
    color: #EEEEEE;
    position: relative;
}

.header-left {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.notification-container {
    position: relative;
}

.notification {
    background-color: #748DA6;
    color: #EEEEEE;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s infinite alternate;
}

.dot {
    background-color: rgb(156, 0, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.notification:hover {
    cursor: pointer;
    color: #9CB4CC;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-btn {
    font-size: 20px;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

section.site {
    margin-top: 1.2rem;
    padding: 1rem;
    flex: 1;
}

.page-btn:hover {
    background-color: #bbb;
}

.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user:hover {
    cursor: pointer;
    color: #9CB4CC;
}

.user__img {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.notifications {
    background-color: #EEEEEE;
    padding: 1rem;
    width: 10rem;
    margin: 1rem;
    min-height: 1rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.notification-item {
  background-color: #ffffff; /* Колір фону */
  padding: 10px; /* Відступи всередині елемента */
  border-bottom: 1px solid #dddddd; /* Роздільна лінія між елементами */
}

.notification-sender {
  font-weight: bold; /* Жирний шрифт для імені відправника */
  color: #333333; /* Колір тексту імені відправника */
}


.profile {
    background-color: #EEEEEE;
    padding: 1rem;
    width: 7rem;
    margin: 1rem;
    min-height: 1rem;
    position: absolute;
    top: 3rem;
    right: 0rem;
}  

.profile__btn {
    padding: 0.5rem 1rem;
    border: 0;
    color: black;
    background-color: #EEEEEE;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Змінено align-items на flex-start для вертикального вирівнювання */
}


.nav {
    min-width: 10rem;
    margin-top: 1.2rem;
    padding: 1rem;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.link {
    color: black;
    text-decoration: none;
}

   /* Common variables */
:root {
  --primary-color: #333;
  --secondary-color: #ccc;
}

/* Common styles */
.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

.chat-message:hover {
  cursor: pointer;
  background-color: #748DA6;
}

.chat-username {
  display: inline;
  font-weight: bold;
  margin-right: 5px;
  color: var(--primary-color);
  font-size: 1.3em; /* Збільште розмір шрифту (приблизно 19px на базовому шрифті 16px) */
}

.fa {
  font-family: FontAwesome;
  font-size: 24px;
  margin-left: 5px;
}

/* Chat room styles */
#chat-room,
#chat-room-admin {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  margin: 0 auto;
  padding: 2%; /* Adjust as needed */
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

#chat-room-header,
#chat-room-admin-header,
#chat-room-admin-members,
#chat-room-admin-messages {
  text-align: left;
  margin-bottom: 20px;
}

#chat-room-admin-messages {
  height: 400px; /* Фіксована висота */
  overflow-y: auto; /* Включаємо вертикальну прокрутку */
}

#chat-room {
  width: 30%; /* Adjust as needed */
  padding: 2%; /* Adjust as needed */
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

#chat-room-header {
  margin-bottom: 20px;
}

#chat-room-messages {
  height: 60%; /* Adjust as needed */
  overflow-y: auto;
  margin-bottom: 2%; /* Adjust as needed */
}

#chat-room-input {
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 4px;
}

#message-input {
  flex: 1;
  border: none;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 4px;
}

#send-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 10px;
  border-radius: 4px;
}

#send-button:hover .fa-paper-plane {
  color: #748DA6;
}

/* Chat block styles */
#chat-block {
  width: 70%; /* Adjust as needed */
  max-width: 400px;
  height: 500px;
  overflow-y: auto;
  position: relative;
  float: left;
  margin: 0 auto;
  padding: 2%; /* Adjust as needed */
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%; /* Adjust as needed */
}

/* Messages section */
.site {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.block1, .block2 {
  flex: 1;
  margin: 10px; /* Add margin for space between blocks */
}

.block1 {
  flex-grow: 1; /* Default flex-grow value */
}

.block2 {
  flex-grow: 2; /* Adjusted flex-grow value to make it wider */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .content {
      flex-direction: column;
  }

  /* Adjust margins for smaller screens if necessary */
  .block1, .block2 {
      margin: 5px; /* Adjust margin for smaller screens */
  }

  /* Adjust specific margin for top and bottom of block2 for smaller screens */
  .block2 {
      margin-top: 5px;
      margin-bottom: 5px;
  }
}

.chat-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}



.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


.modal {
  color: #748DA6;
  background-color: #EEEEEE;
  padding: 1rem;
  gap: 0.5rem;
  width: 20rem;
  margin: 1rem;
  min-height: 20rem;
}


.modal-btn {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background-color: #748DA6;
  color: #EEEEEE;
  border: none;
}


.modal-warn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: auto;
  height: auto;
  min-height: 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
}

.sent {
  display: flex;
  align-items: baseline;
  justify-content: flex-start; /* Змінив з left на flex-start */
  
  word-wrap: break-word;
  width: 80%;
  text-align: left;
  background-color: #DCF8C6;
  padding-left: 2rem; /* Відступ зправа */
}

.received {
  display: flex;
  align-items: baseline;
  justify-content: flex-start; /* Змінив з left на flex-start */
  word-wrap: break-word;
  width: 80%;
  text-align: left;
  background-color: #E8E8E8;
  padding-left: 2rem; /* Відступ зліва */
}


.login-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.msg-info {
  display: flex;
  flex-direction: column;
  font-weight: bold; 
}
