* {
  margin: 0;
  padding: 0;


  font-family: "Work Sans", sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #748DA6;
  color: #EEEEEE;
  position: relative;
}


.header-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.notification-container {
  position: relative;
}

.notification {
  background-color: #748DA6;
  color: #EEEEEE;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s infinite alternate;
}

.dot {
  background-color: rgb(156, 0, 0); 
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -5px; 
  right: -5px;
}

.notification:hover {
  cursor: pointer;
  color: #9CB4CC;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.pagination {
  margin-top: 20px; 
  text-align: center; 
}

.page-btn {
  font-size: 20px; 
  margin: 5px; 
  padding: 10px 15px; 
  border: none;
  background-color: #ddd; 
  color: #333; 
  cursor: pointer;
}

.page-btn:hover {
  background-color: #bbb; 
}


.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.user:hover {
  cursor: pointer;
  color: #9CB4CC;
}


.user__img {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}


.notifications {
  background-color: #EEEEEE;
  padding: 1rem;
  width: 10rem;
  margin: 1rem;
  min-height: 1rem;


  position: absolute;
  top: 3rem;
  right: 1rem;
}


.profile {
  background-color: #EEEEEE;
  padding: 1rem;
  width: 7rem;
  margin: 1rem;
  min-height: 1rem;


  position: absolute;
  top: 3rem;
  right: 0rem;
}


.profile__btn {
  padding: 0.5rem 1rem;
  border: 0;
  color: black;
  background-color: #EEEEEE;
}


.main {
  display: flex;
}


.nav {
  min-width: 10rem;
  margin-top: 1.2rem;
  padding: 1rem;
}


.nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}


.link {
  color: black;
  text-decoration: none;
}


section.students {
  margin-top: 1.2rem;
  padding: 1rem;
  flex: 1;
}


.students__list {
  display: flex;
  flex-direction: column;
}


.add__student__btn {
  align-self: flex-end;
  background-color: #748DA6;
  padding: 0.5rem 1rem;
  color: #EEEEEE;
  border: 0;
  margin: 1rem 0;
  transition: all 0.2s ease-in-out;
}


.add__student__btn:hover {
  background-color: #D3CEDF;
}


table, th, td {
  border: 0.1rem solid;
  border-collapse: collapse;
}


.students__table td {
  text-align: center;
}


.table_buttons {
  padding: 0.5rem 1rem;
}


.student__btn {
  background-color: #748DA6;
  color: #EEEEEE;
  padding: 0.3rem 0.4rem;
  margin: 0.2rem;
  border: none;
}


.student__btn:hover {
  background-color: #D3CEDF;
}


.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


.modal {
  color: #748DA6;
  background-color: #EEEEEE;
  padding: 1rem;
  gap: 0.5rem;
  width: 20rem;
  margin: 1rem;
  min-height: 20rem;
}


.modal-btn {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background-color: #748DA6;
  color: #EEEEEE;
  border: none;
}


.modal-warn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: auto;
  height: auto;
  min-height: 0;
}


.hidden {
  display: none;
}


.flex {
  display: flex;
  justify-content: center;
}
